# --- Vivado Temporary Files ---
*.log
*.jou
*.str
*.txt
.Xil/
vcc_report.txt

# --- Compilation & Simulation Outputs ---
*.pb
*.html
*.xml
*.prm
*.sh
*.ini
*.vhd.bak
xsim.dir/
*.wdb
*.wcfg

# --- Project Structure & Artifacts ---
*.cache/
*.hw/
*.ip_user_files/
*.runs/
*.sim/
*.srcs/utils_1/
*.gen/

# --- Binary Files (Bitstreams) ---
*.bit
*.bin

# --- Operating System Files ---
.DS_Store
Thumbs.db